<?xml version="1.0"?>
<!--
 * Magento - Social Media
 *
 * Engage the most influential audiences on the most social content
 * and see superior results.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Tebet
 * @package    Tebet_SocialMedia
 * @copyright  Copyright (c) 2013 Firman Efendi <firman.elance@yahoo.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Tebet_SocialMedia>
            <version>0.1.0</version>
        </Tebet_SocialMedia>
    </modules>
    <global>
        <models>
            <socialmedia>
                <class>Tebet_SocialMedia_Model</class>
                <resourceModel>socialmedia_resource</resourceModel>
            </socialmedia>
            <socialmedia_resource>
                <class>Tebet_SocialMedia_Model_Resource</class>
                <entities>
                    <share>
                        <table>socialmedia_share</table>
                    </share>
                </entities>
            </socialmedia_resource>
        </models>
        <blocks>
            <socialmedia_adminhtml>
                <class>Tebet_SocialMedia_Block_Adminhtml</class>
            </socialmedia_adminhtml>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <socialmedia>
                    <file>socialmedia.xml</file>
                </socialmedia>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <socialmedia before="Mage_Adminhtml">Tebet_SocialMedia_Adminhtml</socialmedia>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <count_update>
                <schedule>
                    <cron_expr>always</cron_expr>
                </schedule>
                <run>
                    <model>socialmedia/observer::updateCount</model>
                </run>
            </count_update>
        </jobs>
    </crontab>
</config>